$primary: #5f2eea;
$primary-dark: #2a00a2;
$primary-light: #bca4ff;

$secondary: #ed2e7e;
$secondary-light: #fff3f8;

$dark: #000000;
$dark-light: #4e4b66;
$white: #f7f7fc;

$error: $secundary;
$error-light: $secundary-light;

$success: #00ba88;
$success-light: #f2fffb;
