@use "../variables/colors";

.button {
  display: inline-block;
  padding: 1em 2em;
  color: colors.$white;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 1.5rem;
}

.button--secondary {
  background: colors.$secondary;
}

.button--full {
  width: 100%;
}

.button--white-outline {
  border: 2px solid colors.$white;
}

.button--white-dark-outline {
  border: 2px solid colors.$white-dark;
}

.button--uppercase {
  text-transform: uppercase;
}

.button--semi-bold {
  font-weight: 600;
}

.button--small {
  font-size: 0.9rem;
}

.button--primary-font {
  color: colors.$primary;
}

.button--letter-spacing {
  letter-spacing: 0.1em;
}

.button--thin {
  padding: 0.5em 1em;
}
