@use "../variables/colors";

.button {
  padding: 1rem 2rem;
  color: colors.$white;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.5rem;
}

.button--secondary {
  background: colors.$secondary;
}

.button--full {
  width: 100%;
}

.button--outline {
  border: 2px solid colors.$white;
}

.button--uppercase {
  text-transform: uppercase;
}

.button--small {
  font-size: 0.9rem;
}
