@use "../variables/colors";

.button {
  padding: 1rem 2rem;
  color: colors.$white;
  font-weight: 500;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.5rem;
}

.button--secondary {
  background: colors.$secondary;
}

.button--full {
  width: 100%;
}
