@use "../../scss/variables/colors";
@use "../../scss/variables/fonts";

$footer-padding: 10px 0 10px 0;

.copyright {
  text-align: center;
  font-weight: 400;
  font-size: fonts.$size-medium;

  &__title {
    color: colors.$primary;
    font-weight: 600;
    font-size: fonts.$size-xx-large;
    padding: $footer-padding;
  }

  &__description {
    color: colors.$dark;
    padding: $footer-padding;
  }

  &__year {
    color: colors.$dark;
    padding: $footer-padding;
  }
}

.footer-list-items {
  &--hidden {
    display: none;
    visibility: hidden;
  }
  &__title {
    font-weight: 600;
    font-size: fonts.$size-medium-large;
    padding: $footer-padding;
  }

  &__item {
    color: colors.$dark-light;
    font-weight: 400;
    font-size: fonts.$size-medium;
    list-style: none;
    padding: $footer-padding;
  }
}

.footer-contact {
  color: colors.$dark-light;
  text-align: center;
  font-size: fonts.$size-medium;

  &__title {
    font-size: fonts.$size-medium-large;
    color: colors.$dark;
    padding: $footer-padding;
  }

  &__email {
    color: colors.$primary;
    padding: $footer-padding;
  }

  &__address {
    padding: $footer-padding;
  }

  &__postal-code {
    padding: $footer-padding;
  }
}
