@use "../../scss/variables/colors";
@use "../../scss/variables/fonts";
@use "../../scss/variables/breakpoints";

$footer-padding: 15px 25px 10px 20px;

.container-foot {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  text-align: center;

  @media (min-width: breakpoints.$large) {
    display: flex;
    text-align: left;
  }
}

.copyright {
  flex: 1.5;

  font-weight: 400;
  font-size: fonts.$size-medium;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

  &__title {
    color: colors.$primary;
    font-weight: 600;
    font-size: fonts.$size-xx-large;
    padding: $footer-padding;
  }

  &__description {
    color: colors.$dark;
    padding: $footer-padding;
  }

  &__year {
    color: colors.$dark;
    padding: $footer-padding;
    padding-bottom: 100px;

    @media (min-width: breakpoints.$large) {
      font-weight: 700;
    }
  }
}

.footer-list-items {
  flex: 1;
  padding-bottom: 50px;

  @media (max-width: breakpoints.$large) {
    &--hidden {
      display: none;
      visibility: hidden;
    }
  }

  &__title {
    font-weight: 600;
    font-size: fonts.$size-medium-large;
    padding: $footer-padding;
  }

  &__items {
    padding-inline-start: 10px;
  }

  &__item {
    color: colors.$dark-light;
    font-weight: 400;
    font-size: fonts.$size-medium;
    list-style: none;
    padding: $footer-padding;
  }
}

.footer-contact {
  flex: 1;
  color: colors.$dark-light;
  text-align: center;
  font-size: fonts.$size-medium;
  padding-bottom: 50px;

  &__title {
    font-size: fonts.$size-medium-large;
    color: colors.$dark;
    padding: $footer-padding;
  }

  &__email {
    color: colors.$primary;
    padding: $footer-padding;
  }

  &__address {
    padding: $footer-padding;
  }

  &__postal-code {
    padding: $footer-padding;
  }
}
