@use "../../scss/variables/colors";

$footer-big: 1.2rem;
$footer-title: 1rem;
$footer-size: 0.8rem;

$footer-padding: 20px 0 10px 0;

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.copyright {
  text-align: center;

  &__title {
    color: colors.$primary;
    font-weight: 600;
    font-size: $footer-big;
    padding: $footer-padding;
  }

  &__description {
    color: colors.$dark;
    font-weight: 400;
    font-size: $footer-size;
    padding: $footer-padding;
  }

  &__year {
    color: colors.$dark;
    font-weight: 700;
    font-size: $footer-size;
    padding: $footer-padding;
  }
}

.footer-list-items {
  &__title {
    font-weight: 600;
    font-size: $footer-title;
    padding: $footer-padding;

    &--hidden {
      display: none;
      visibility: hidden;
    }
  }

  &__item {
    color: colors.$dark-light;
    font-weight: 400;
    font-size: $footer-size;
    list-style: none;
    padding: $footer-padding;
  }
}
