@use "../variables/breakpoints";

.container {
  max-width: breakpoints.$medium-large;
  margin: 0 auto;
  padding: 0 2rem;

  @media (min-width: breakpoints.$large) {
    max-width: breakpoints.$extra-large;
  }
}
